In [1]:
import pandas as pd

In [5]:
s = pd.Series(list('klahgdflkjbandjklfh'))
s

0     k
1     l
2     a
3     h
4     g
5     d
6     f
7     l
8     k
9     j
10    b
11    a
12    n
13    d
14    j
15    k
16    l
17    f
18    h
dtype: object

In [6]:
s.unique()

array(['k', 'l', 'a', 'h', 'g', 'd', 'f', 'j', 'b', 'n'], dtype=object)

In [7]:
s.value_counts() # Contagem de ocorrências

k    3
l    3
a    2
h    2
d    2
f    2
j    2
g    1
b    1
n    1
dtype: int64

In [9]:
dados = pd.read_csv('dados/aluguel.csv', sep=';') # Importa dados
dados.head() # Exibe os 5 primeiros registros

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento

In [10]:
dados['Tipo'].unique() # Tipos de imóveis

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [11]:
dados['Tipo'].value_counts() # Contagem de ocorrências

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64